.books-app {
  @include commonWindow;
  &-header {
    @include commonWindowHeader;
  }
  &-content {
    @include commonWindowContent;
    &-header {
      display: flex;
      &.books-app-data {
        //   padding: 2px 4px;
        background: linear-gradient(#f0f0f0, #eff0ef, #f0f0f0);
        > div {
          border-right: 1px solid #d7d6d6;
          &:last-child {
            border-right: none;
          }
        }
      }
    }
    .books-app-data {
      display: flex;
      padding: 4px;
      > div {
        padding: 2px 10px;
      }
      &-name {
        width: auto;
        flex: 4;
      }
      &-author {
        width: 100px;
        flex: 1;
      }
      &-star {
        width: 50px;
        flex: 1;
        @include textOverflow;
      }
      &-tags {
        width: 50px;
        flex: 1;
      }
      &-date {
        width: 50px;
        flex: 1;
      }
    }
    .books-app-item-row {
      text-decoration: none;
      color: inherit;
    }
    .books-app-content-list {
      height: calc(100% - 29px);
      background: linear-gradient(white 50%, #f4f4f5 50%);
      background-size: 100% 58px;
    }
  }
}
