.books-app {
  position: absolute;
  width: 70%;
  height: 70%;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0 0 10px 0 black;
  top: 10%;
  left: 10%;
  font-size: 12px;
  overflow: hidden;
  &-header {
    background-color: #ccc;
    text-align: center;
    background-color: #ccc;
    text-align: center;
    padding: 5px 10px;
    font-size: 14px;
  }
  &-content {
    width: 100%;
    height: calc(100% - 30px);
    &-header {
      display: flex;
      &.books-app-data {
    //   padding: 2px 4px;
        background: linear-gradient(#f0f0f0, #eff0ef, #f0f0f0);
        > div {
          border-right: 1px solid #d7d6d6;
          &:last-child {
            border-right: none;
          }
        }
      }
    }
    .books-app-data {
      display: flex;
      padding: 4px;
      > div {
        padding: 2px 10px;
      }
      &-name {
        width: auto;
        flex: 3;
      }
      &-author {
        width: 100px;
        flex: 2;
      }
      &-star {
        width: 50px;
        flex: 1;
      }
      &-tags {
        width: 50px;
        flex: 1;
      }
      &-date {
        width: 50px;
        flex: 1;
      }
    }
    .books-app-item-row {
    }
    .books-app-content-list {
      height: calc(100% - 29px);
      background: linear-gradient(white 50%, #f4f4f5 50%);
      background-size: 100% 58px;
    }
  }
}
